
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> {% block title %}Sprotify{% endblock %}
</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}

        <link rel="preconnect" href="{{asset('https://fonts.googleapis.com')}}">

        <link rel="preconnect" href="{{asset('https://fonts.gstatic.com')}}" crossorigin>
        <link rel="stylesheet" href="{{ asset('AdminPanel/asset/plugins/bootstrap/css/bootstrap.min.css') }}" />
        <!-- Plugins css -->
        <link rel="stylesheet" href="{{ asset('AdminPanel/asset/plugins/charts-c3/c3.min.css') }}"/>
        <!-- Core css -->
        <link rel="stylesheet" href="{{ asset('AdminPanel/asset/css/main.css')}}"/>
        <link rel="stylesheet" href="{{ asset('AdminPanel/asset/css/theme1.css')}}"/>
        <link href="{{asset('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap')}}" rel="stylesheet">
        <link rel="apple-touch-icon" href="{{asset('asset/apple-touch-icon.png')}}">
        <link rel="stylesheet" href="{{asset('asset/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/normalize.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/transitions.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/prettyPhoto.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/swiper.min.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/animate.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/owl.theme.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/owl.carousel.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/customScrollbar.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/icomoon.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/main.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/color.css')}}">
        <link rel="stylesheet" href="{{asset('asset/css/responsive.css')}}">

{% endblock  %}
</head>
<body>


<div id="tg-wrapper" class="tg-wrapper tg-haslayout">

    <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
        <span id="tg-close" class="tg-close fa fa-close"></span>
        <div class="tg-colhalf">
            <ul>
                <li>
                    <a href="#">Main</a>
                    <ul class="tg-dropdown-menu">
                        <li><a href="index-2.html">home1</a></li>
                        <li><a href="index2.html">home2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">team</a>
                    <ul class="tg-dropdown-menu">
                        <li><a href="playergrid-v1.html">playergrid-v1</a></li>
                        <li><a href="playergrid-v2.html">playergrid-v2</a></li>
                        <li><a href="playerdetail.html">playergrid detail</a></li>
                    </ul>
                </li>
                <li><a href="buyticket.html">Buy Tickets</a></li>
                <li>
                    <a href="#">Match Results</a>
                    <ul class="tg-dropdown-menu">
                        <li><a href="matchresult.html">match result</a></li>
                        <li><a href="matchresultdetail.html">match result detail</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tg-colhalf">
            <ul>
                <li>
                    <a href="#">fixtures</a>
                    <ul class="tg-dropdown-menu">
                        <li><a href="fixtures.html">fixtures</a></li>
                        <li><a href="fixturedetail.html">fixture detail</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">pro soccer media</a>
                    <ul class="tg-dropdown-menu">
                        <li><a href="soccermedia-1.html">pro soccer media1</a></li>
                        <li><a href="soccermedia-2.html">pro soccer media2</a></li>
                    </ul>
                </li>
                <li class="active"><a href="contactus.html">Contact</a></li>
                <li>
                    <a href="#"><i class=" fa fa-navicon"></i></a>
                    <ul>
                        <li><a href="aboutus.html">about us</a></li>
                        <li><a href="shoplist.html">shop list</a></li>
                        <li><a href="shopgrid.html">shop grid</a></li>
                        <li><a href="productsingle.html">shop detail</a></li>
                        <li><a href="bloglist.html">blog list</a></li>
                        <li><a href="bloggrid.html">blog grid</a></li>
                        <li><a href="blogdetail.html">blog detail</a></li>
                        <li><a href="404.html">404 error</a></li>
                        <li><a href="comming-soon.html">comming soon</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <header id="tg-header" class="tg-header tg-haslayout">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="tg-topbar tg-haslayout">
                            <nav id="tg-topaddnav" class="tg-topaddnav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>
                                <div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
                                    <div class="tg-colhalf pull-right">
                                        <nav class="tg-addnav">
                                            <ul>



                                                <li>
                                                    {% if app.user %}
                                                <li>
                                                    <a href="{{ path('app_profile_show', {'id': app.user.id}) }}" data-target="#">Profile</a>
                                                </li>
                                                <a href="{{ path('app_logout') }}" data-target="#">logout</a>

                                                {% else %}
                                                    <a href="{{path('app_register') }}" data-target="#tg-register">Register</a>
                                                    <li>
                                                        <a href="{{path('app_login') }}" data-target="#tg-login">login</a>
                                                    </li>
                                                {% endif %}
                                                </li>
                                                <li>
                                                    <div class="tg-cart">
                                                        <a href="javascript:void(0)" class="dropdown-toggle" id="tg-cartdropdown" data-toggle="dropdown">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                        <div class="tg-cartcontent dropdown-menu" aria-labelledby="tg-cartdropdown">
                                                            <ul>
                                                                <li>
                                                                    <figure>
                                                                        <a href="#">
                                                                            <img src="{{asset('asset/images/thumbnails/img-01.jpg')}}" alt="image description">
                                                                        </a>
                                                                    </figure>
                                                                    <div class="tg-product-detail">
                                                                        <h3>
                                                                            <a href="#">Smooth 3-Stripes Scarf</a>
                                                                        </h3>
                                                                        <span class="tg-price">Price: $23</span>
                                                                        <a class="tg-delete" href="#"></a>
                                                                    </div>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a id="tg-btn-search" href="javascript:void(0)">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="tg-colhalf">
                                        <ul class="tg-socialicons">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <nav id="tg-nav" class="tg-nav brand-center">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <strong class="tg-logo">
                                    <a href="{{ path('homepage') }}"><img src="{{asset('asset/images/sportifyLogo.png')}}" alt="SportifyLogo"></a>
                                </strong>
                            </div>
                            <div id="tg-navigation" class="tg-navigation">
                                <div class="tg-colhalf">
                                    <ul>
                                        <li class="active">
                                            <a href="#">Home</a>

                                        </li>

                                        <li>
                                            <a href="buyticket.html">EVENTS</a>
                                        </li>
                                        <li>
                                            <a href="#">Match </a>
                                            <ul class="tg-dropdown-menu">

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tg-colhalf">
                                    <ul>
                                        <li>
                                            <a href="#">shop</a>

                                        </li>

                                        <li>
                                            <a href="#contact">Contact</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

    <div class="tg-banner tg-haslayout">
        <div class="tg-imglayer">
            <img src="images/bg-pattran.png" alt="image desctription">
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-banner-content tg-haslayout">
                    <div class="tg-pagetitle">
                        <h1>Profile</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Profile</a></li>
                        <li class="active">User</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <main id="tg-main" class="tg-main tg-paddingbottom-zero tg-haslayout">
        <section class="tg-main-section tg-paddingbottom-zero tg-haslayout">
            <div class="container">
                <div class="tg-section-name">
                    <h2>Profile </h2>
                </div>
                <div class="col-sm-11 col-xs-11 pull-right">
                    <div class="row">
                        <div class="tg-contactus tg-haslayout">
                            <div class="row">

                                {% block body %}

                                {% endblock %}
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer id="tg-footer" class="tg-footer tg-haslayout">
        <div class="tg-haslayout tg-footerinfobox">
            <div class="tg-bgboxone"></div>
            <div class="tg-bgboxtwo"></div>
            <div class="tg-footerinfo">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div class="tg-haslayout">
                                    <strong class="tg-logo">
                                        <a href="{{ path('homepage') }}">
                                            <img src="{{asset('asset/images/sportifyLogo.png')}}" alt="image description">
                                        </a>
                                    </strong>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sedtado eiusmod dunt ut labore et dolore magna aliqua enim minim veniami quis nostrud.</p>
                                </div>
                                <ul class="tg-contactinfo">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <address>123 Eccles Old Road, New Salford Road London, Uk, M6 7AF</address>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="info%40domain.html">info@domain.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>+44 123 456 788 - 9</span>
                                    </li>
                                </ul>
                                <div class="tg-haslayout">
                                    <a class="tg-btn" href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-footerbar">
            <div class="container">
                <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
                <nav class="tg-footernav">
                    <ul>
                        <li><a href="#">Main</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Buy Tickets</a></li>
                        <li><a href="#">Match Results</a></li>
                        <li><a href="#">Upcoming Matches</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

</div>

{% block jss %}
<script src="{{asset('js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>

<script src="{{asset('asset/js/vendor/jquery-library.js')}}"></script>
<script src="{{asset('asset/js/vendor/bootstrap.min.js')}}"></script>
<script src="{{asset('asset/js/customScrollbar.min.js')}}"></script>
<script src="{{asset('asset/js/owl.carousel.js')}}"></script>
<script src="{{asset('asset/js/isotope.pkgd.js')}}"></script>
<script src="{{asset('asset/js/prettyPhoto.js')}}"></script>
<script src="{{asset('asset/js/swiper.min.js')}}"></script>
<script src="{{asset('asset/js/jquery-ui.js')}}"></script>
<script src="{{asset('asset/js/countTo.js')}}"></script>
<script src="{{asset('asset/js/appear.js')}}"></script>
{% endblock %}

</body>


</html>