<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block Login %}
        <title>Login</title>
    {% endblock %}

    {% block metacss %}
        <link rel="stylesheet" href="{{asset('bundles/mercuryseriesflashy/css/flashy.css')}}">

        <meta charset="UTF-8">
        <!---<title> Responsive Registration Form | CodingLab </title>--->
        <link rel="stylesheet" href="{{ asset('AccountUser/LoginStyle.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
{% block body %}
<body>

<div class="container">
    <div class="title">Mot de passe oublié !</div>
    <div class="content">
        <form action="#">
            <div class="form-group">
                <div class="user-details" style="text-align : center">
                    <span class="form-group" >Saisir l'adresse e-mail que vous utilisez sur Sportify. Nous vous enverrons un lien pour réinitialiser votre mot de passe.</span>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Entrez votre Email" required>
                    </div>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Réinitialiser le mot de passe">
                <p >Retour à <a href="{{ path('app_login') }}" >Connexion</a></p>
            </div>
            <p ><a href="{{ path('homepage') }}" >Retour à la page d'Accueil</a></p>

        </form>

    </div>
</div>
<!-- partial -->
</body>
{% endblock %}

{#<html >#}
{#<head>#}
{#    {% block Login %}#}
{#        <title>Login</title>#}
{#    {% endblock %}#}

{#    {% block metacss %}#}
{#        <meta charset="UTF-8">#}
{#        <!---<title> Responsive Registration Form | CodingLab </title>--->#}
{#        <link rel="stylesheet" href="{{ asset('AccountUser/LoginStyle.css')}}">#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    {% endblock %}#}
{#</head>#}
{#{% block body %}#}
{#<body>#}

{#<div class="container">#}
{#    <section class="section register ">#}
{#        {% for message  in app.flashes('message') %}#}
{#            <div class="alert alert-danger">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </section>#}
{#    <section class="section register ">#}
{#        {% for danger  in app.flashes('danger') %}#}
{#            <div class="alert alert-info">#}
{#                {{ danger }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </section>#}

{#    <div class="title">Reset Password !</div>#}
{#    <div class="content">#}
{#        <form method="post">#}
{#            <div class="form-group">#}
{#                <div class="user-details" style="text-align : center">#}
{#                    <span class="form-group" >Saisir un nouveau mot de passe.</span>#}
{#                </div>#}
{#                <div class="user-details">#}
{#                    <div class="input-box">#}
{#                        <span class="details">new password</span>#}

{#                        <input type="password" name="password" id="inputPass" class="form-control" placeholder="new pass" required/>#}
{#                        <input type="hidden"  name="token" value={token}">#}


{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="button">#}
{#                <input type="submit" value="Send ">#}
{#                <button class="btn btn-primary w-100" type="submit">Send</button>#}
{#            </div>#}
{#            <p ><a href="{{ path('homepage') }}" >Retour à la page d'Accueil</a></p>#}

{#        </form>#}

{#    </div>#}
{#</div>#}

{#<!-- partial -->#}
{#</body>#}
{#{% endblock %}#}